<%= render partial: 'partials/header' %>
<div class="first-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-content first-block-content">
        <p>Buy the best!</p>
        <h1>TRY TO SHOP ONLINE STORE, ALONG WITH KOLYA</h1>
        <p id="p_first"> BUY WITH MY SHOP, AND BE BETTER</p>
        <button class="btn"><%= link_to 'JOIN US', '#' %> </button>
      </div>
    </div>
  </div>
</div>
<section class="section-color-grey section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <%=image_tag 'shopworker.jpg', class: 'image-responsive' %>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h3 class="about-us-header">ABOUT US</h3>
        <p class="blue-content">
          Our aim is to make mainstream and luxury fragrance affordable and accessible to all. We showcase over 130 fragrance brands, all of which are available for you to browse online at your leisure. Don't forget our fabulous selections in-store too!
        </p>
        <p>
          We pride ourselves in delivering outstanding service to our customers, we have recently been awarded for excellent customer service. Whether you choose to shop in one of over 183 stores, online or over the phone our friendly team are on hand to help make finding the perfect fragrance a pleasurable experience for all.
        </p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="text-content header-block">
      <h2>APP FEATURES</h2>
      <%=image_tag 'line.png' %>
      <p>You will receive an email confirming your credit card payment, or if you wish to pay by EFT you will receive a confirmation email with instructions and order number for making a Bank Transfer.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <%=image_tag 'bags.jpg' %>
        <h3>GOOD SHOP</h3>
        <p>Best Buy Co., Inc. is a U.S transnational consumer electronics corporation headquartered in Richfield, Minnesota, a Minneapolis suburb. Internationally, it also operates in Canada and Mexico. It was formerly operational in China until February 2011 (when the faction was merged with Five Star) and in Europe until 2012.[3] The company was founded by Richard M. Schulze and Gary Smoliak in 1966 as an audio specialty store. In 1983, it was renamed and rebranded with more emphasis placed on consumer electronics.</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
      <div class="col-sm-6 col-xs-6">
        <%=image_tag 'basket.png' %>
        <h3>MANY SHOPPER</h3>
        <p>Best Buy Co., Inc. is a U.S transnational consumer electronics corporation headquartered in Richfield, Minnesota, a Minneapolis suburb. Internationally, it also operates in Canada and Mexico. It was formerly operational in China until February 2011 (when the faction was merged with Five Star) and in Europe until 2012.[3] The company was founded by Richard M. Schulze and Gary Smoliak in 1966 as an audio specialty store. In 1983, it was renamed and rebranded with more emphasis placed on consumer electronics.</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-color-grey section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-6 col-sm-push-6 col-xs-push-6">
        <%=image_tag 'car.jpg' %>
      </div>
      <div class="col-sm-6 col-xs-6 col-sm-pull-6 col-xs-pull-6">
        <h3>OUR WORK</h3>
        <p class="blue-content">In 2000, Best Buy formed Redline Entertainment, an independent music label and action-sports video distributor. The company acquired Magnolia Hi-Fi, Inc., an audio-video retailer located in California</p>
        <p>Best Buy partnered with Roxio's CinemaNow to launch an on-demand movie download service that would allow customers to stream content to any device sold by Best Buy that connected to the Internet in November 2009. In December, the first Turkish Best Buy opened in İzmir.</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 text-content">
        <%=image_tag 'shop-litle.png' %>
        <h3>SHOP START</h3>
        <p>A retailer or a shop is a business that presents a selection of goods and offers to trade</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 text-content">
        <%=image_tag 'basket-litle.jpg' %>
        <h3>BASKET ON</h3>
        <p>In modern days customer focus is more transferred towards online shopping</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 text-content">
        <%=image_tag 'delivery-litle.jpeg' %>
        <h3>DELIVERY</h3>
        <p>The shopping experience can also be influenced by other shoppers.</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 text-content">
        <%=image_tag 'final-litle.jpg' %>
        <h3>YOU HAPPY</h3>
        <p>You always be happy when you buy in my shop</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="blue-section">
  <div class="container-fluid no_padding">
    <div class="row row-margin-zero">
      <div class="features-image col-sm-6 col-xs-6 no_padding"></div>
      <div class="col-sm-6 col-xs-6 text-content-white">
        <div class="header-block-white">
          <h2>ONLINE SHOP FEATURES</h2>
          <%=image_tag 'white-line.png' %>
        </div>
        <div class="features-content">
          <div class="row features-margin">
            <div class="col-sm-2 col-xs-3">
              <%=image_tag 'cart-xs.png' %>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h4>TAKE CART</h4>
              <p>You can take just cart and go shopper</p>
            </div>
          </div>
          <div class="row features-margin">
            <div class="col-sm-2 col-xs-3">
              <%=image_tag 'heart-xs.png' %>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h4>ON HEART</h4>
              <p>"Love in Store" is a song by British-American rock group Fleetwood Mac</p>
            </div>
          </div>
          <div class="row features-margin">
            <div class="col-sm-2 col-xs-3">
              <%=image_tag 'money-xs.jpg' %>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h4>PAY MONEY</h4>
              <p>Early in life, Kei started writing lyrics as a way to cope with his depression and dark feelings.</p>
            </div>
          </div>
          <div class="row features-margin">
            <div class="col-sm-2 col-xs-3">
              <%=image_tag 'bag-xs.png' %>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h4>PUT IN THE BAG</h4>
              <p>Tourists have departed Brownstone National Park where Humphrey lives, leaving trash everywhere.</p>
            </div>
          </div>
          <div class="row features-margin">
            <div class="col-sm-2 col-xs-3">
              <%=image_tag 'thankyou-xs.png' %>
            </div>
            <div class="col-sm-10 col-xs-9">
              <h4>THANK YOU</h4>
              <p>"Thank you" is a common expression of gratitude.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey-section">
  <div class="container-fluid no_padding">
    <div class="row features-margin">
      <div class="col-sm-6 no_padding cp-image col-sm-push-6"></div>
      <div class="col-sm-6 cp-picked col-sm-pull-6">
        <h3>MULTIPLATFORM APP</h3>
        <p>Platform can refer to the type of processor(CPU) or other hardware on which a given operating system or application runs, the type of operating system on a computer or the combination of the type of hardware and the type of operating system running on it. An example of a common platform is Microsoft Windows running on the x86 architecture. Other well-known desktop computer platforms include Linux/Unix and macOS - both of which are themselves cross-platform.</p>
        <p class="p-padding-20">There are, however, many devices such as smartphones that are also effectively computer platforms but less commonly thought about in that way. Application software can be written to depend on the features of a particular platform—either the hardware, operating system, or virtual machine it runs on. The Java platform is a virtual machine platform which runs on many operating systems and hardware types, and is a common platform for software to be written for.</p>
        <h3>USE BETTER FOR SHOPPER</h3>
        <p>Web applications are typically described as cross-platform because, ideally, they are accessible from any of various web browsers within different operating systems.</p>
        <p class="read-more">
          <%=link_to 'Read More', '#' %>
        </p>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'partials/footer' %>